.blog {
  width: calc(100% - 200px);
  min-height: calc(100vh - 210px);
  padding: 30px 100px;
}

.blog-mainImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blog-title-container {
  display: flex;
  width: 100%;
  margin: 25px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-title-container div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.blog-title-container h1 {
  margin: 0;
  font-size: 25px;
}

.blog-title-container span:first-child {
  background-color: transparent;
}

.blog-title-container span:first-child a {
  color: black;
  text-decoration: none;
}

.blog-title-container span:first-child a:hover {
  text-decoration: underline;
}

.blog-title-container span:last-child {
  background-color: transparent;
  letter-spacing: .05em;
}

.blog-title-container span {
  margin: 0 5px;
  padding: 1px 10px;
  background-color: #af4e4e;
  border-radius: 20px;
}

.blog-content {
  padding: 0 50px; 
}

.blog-content img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  margin: 10px 10%;
}

@media screen and (max-width: 1024px) {
  .blog {
    width: calc(100% - 160px);
    padding: 30px 80px;
  }

  .blog-mainImg {
    height: 350px;
  }

  .blog-content img {
    width: 94%;
    margin: 10px 3%;
    height: 370px;
  }
}

@media screen and (max-width: 829px) {
  .blog-title-container div {
    flex-direction: column;
    align-items: center;
  }

  .blog-title-container span {
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    width: calc(100% - 80px);
    padding: 30px 40px;
  }

  .blog-mainImg {
    height: 300px;
  }

  .blog-content {
    padding: 0 35px; 
  }

  .blog-content img {
    width: 100%;
    margin: 10px 0;
    height: 320px;
  }
}

@media screen and (max-width: 425px) {
  .blog {
    width: calc(100% - 40px);
    padding: 30px 20px;
  }

  .blog-mainImg {
    height: 200px;
    margin-bottom: 10px;
  }

  .blog-title-container {
    margin: 15px 0;
  }

  .blog-title-container div {
    margin: 5px 0 10px;
  }

  .blog-title-container span {
    text-align: center;
  }

  .blog-content {
    padding: 0 15px; 
  }

  .blog-content img {
    height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .blog-mainImg {
    height: 180px;
  }

  .blog-content {
    padding: 0 10px; 
  }

  .blog-content img {
    height: 170px;
  }
}

@media screen and (max-width: 320px) {
  .blog-mainImg {
    height: 150px;
  }

  .blog-content {
    padding: 0; 
  }

  .blog-content img {
    height: 140px;
  }
}